* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    height: 100vh;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style-type: none;
    padding: 2rem 0;
    text-transform: capitalize;
}

.img {
    background-image: url("https://picsum.photos/id/684/600/400");
    width: 45%;
    height: 50%;
    background-position: center;
    background-size: cover;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: rgb(50, 48, 167);
    }

    .img {
        background-image: url("https://picsum.photos/id/45/600/400");
    }
}

@media screen and (max-width: 992px) {
    body {
        background-color: rgb(141, 16, 167);
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .img {
        background-image: url("https://picsum.photos/id/985/600/400");
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: greenyellow;
    }

    .img {
        background-image: url("https://picsum.photos/id/456/600/400");
    }
}